@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Poppins', sans-serif; */
*{margin: 0;
padding: 0;
box-sizing: border-box;
}
/* --------frist-ber------- */
.header{
    width: 100%;
    height: 121px;
    background-color:#EAAE00 ;
}
.container{
    margin: 0 auto;
    padding: 0 25px;
    width: 1200px;
}
.header .container{ 
    height:100%;
    background-color: #EAAE00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}
ul li{
    list-style-type: none;
}

.mode{
    display: flex;
    align-items: center;
}
.mode li a{
    padding: 10px 20px;
    display: inline-block;
    font-size: 29px;
    font-weight: 500;
}
.mode li:nth-child(4){
    margin-right: 50px;

}
.input{
    width: 275px;
    height: 50px;
    background-color: #FFC400;
    border: none;
    padding: 0 14px;
}
.input::placeholder{
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}
.list-iteam{
    position: relative;
}
.inbox{
    width: 72px;
    height: 50px;
    background-color: #00BFCB;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    font-size: 24px;
    color: #ffffff;
}
/* ---------frist-ber------- */
/* ----------banner-start--------- */
.banner{

    background-color: #FFC400;
}
.banner .container{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding-top: 92px;
    padding-bottom: 122px;
    

}
.banner-container{
    padding-right: 30px;
}
.banner-container{
    width: 55%;
}
.banner-h1{
    font-size: 66px;
  line-height: 70px;
    color:#ffffff;
    margin-bottom: 56px;
}
.banner-para{
    font-size: 29px;
    color:#ffffff;
}
.banner-batton{
    margin-top: 46px;
    
}
.banner-batton a{
    font-size: 20px;
    padding: 24px 30px;
    border-radius: 8px;
    
}
.banner-batton a:first-child{
    background-color:#00BFCB;
    border: 3px solid #00BFCB;
    margin-right: 34px;
}
.banner-batton a:last-child{
    border: 3px solid #ffffff;

}
.banner-img{
    width: 40%;

}
.banner-img img{
    width: 100%;
}
.love-of-animal .container{
    display: flex;
    padding: 140px 0;
    justify-content: space-between;
}
.love-of-animal .container .text-content{
    width: 50%;
    padding-right: 46px;
    padding-top: 80px;
}
.love-of-animal .container h2{
    font-size: 50px;
    line-height: 54px;
    margin-bottom: 56px;
    padding-right: 70px;
    color: #313243;
    font-family: ;
}
.love-of-animal .container p{
    font-size: 29px;
    margin-bottom: 48px;
    padding-right: 56px;
    color: #313243;
}
.love-of-animal .container a{
    font-size: 20px;
    border-radius: 8px;
    background-color: #FFC400;
    padding: 24px 30px;
}

.img-content{
    width: 50%;
}
.img-content img{
    width: 100%;
}
/* --------banner-end------ */
/* ----------service------- */

.aminal-care{
    background-color: #FFC400;

}
.aminal-care .container {
    padding-top: 70px;
    padding-bottom: 96px;
}
.aminal-care .container .service-text{
    text-align: center;
    padding: 0 262px;    
}
.aminal-care .container .service-text h3{
    font-size: 75px;
    margin-bottom: 52px;
    color: #ffffff;
}
.aminal-care .container .service-text p{
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 94px;
}
.aminal-care .container .service-photo{
    display: flex;
    justify-content: space-between;

}
.aminal-care .container .service-photo .service{
    width: 30%;
       
}
.aminal-care .container .service-photo h6{
    font-size: 38px;
    text-align: center;
    margin-top: 54px;
    margin-bottom: 28px;
    color: #ffffff;
}
.aminal-care .container .service-photo p{
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    font-family:sans-serif
}
/* -------service-end------- */
/* --------animal-care------ */
.animal-care-page4 .container{
    padding: 140px 0;
    display: flex;
    justify-content:space-between ;   
}
.page4-img-content{
    width: 50%;
    margin-right: 68px;
}
.page4-img-content img{
    width: 100%;
}

.page4-text-content{
    padding-top: 80px;
    width: 50%;
    direction: rtl;

}
.page4-text-content h2{
    font-size: 50px;
    line-height: 54px;
    font-family: sans-serif;
    margin-bottom: 52px;
    color: #313243;
        
}
.page4-text-content p{
    font-size: 29px;
    font-family: sans-serif;
    margin-bottom: 52px;
    color: #313243;
    padding-left: 56px;

    
}
.page4-text-content a{
    font-size: 20px;
    border-radius: 8px;
    background-color: #FFC400;
    padding: 24px 30px;
    
}
/* -------page-4-end----- */
/* ------page-5------ */
.get-offer{
    background-color: #FFC400;
}
.get-offer .container{
    padding: 140px 0;
}
.img-content-5{
    display: flex;
    justify-content: space-between;

}
.img-content-5 .sell{
    width: 30%;
}
.page5-text-content h2{
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    text-align: center;
    margin-bottom: 48px;
    color: #ffffff;
}
.page5-text-content p{
    font-size: 33px;
    color: #ffffff;
    text-align: center;
    font-family: 'poppins', sans-serif;
    margin-bottom: 96px;
    padding: 0 200px;
    
}
.img-content-5 {
    font-size: 40px;
    font-family: 'poppins', sans-serif ;
    text-align: center;
    margin-top: 46px;
    color: #ffffff;
}
.img-content-5 .sell p span{
    text-decoration: line-through;
    margin-right: 16px;   
}
.img-content-5 .sell a{
    font-size: 25px;
    background-color: aqua;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    padding: 14px 42px;
}
/* ------page-5-end------ */
/* ------page-6----- */
.vetcare-team .container{
    padding: 140px 0;

}
.page-6-text h2{
    font-size: 75px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'poppins', sans-serif ;
}
.page-6-text p{
    font-size: 33px;
    padding: 0 250px;
    margin-bottom: 96px;
    text-align: center;
}
.vetcare-doctor {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.vetcare-doctor .vetcare{
    width: 30%;

}
.vetcare-doctor .vetcare h5{
    text-align: center;
    font-size: 29px;
    margin-top: 34px;
}
.vetcare-doctor .vetcare h6{
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 26px;
}
.vetcare .page-6-icon-bottom .icon-bottom{
    background-color: #EAAE00;
    border-radius: 50%;
    border: 1px solid #EAAE00;
    padding: 10px 10px;
  
}
.page-6-icon-bottom a{
    padding: 0 8px;
}
/* ------page-6-end----- */
/* ------page-7------ */
.helth{
    background-image: url(./img/helth1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
   
}
.helth .container{
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    padding: 160px 0px;
}
.helth .container .helth{
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    background: none;
}

.helth .container .helth h5{
    padding-top: 60px;
    font-size: 42px;
}
.helth .container .helth h6{
    font-size: 37px;
}
/* ------page-7-end---- */
/* ------page-8----- */
.Recent-Posts .container{
    padding: 140px 0;
    
}
.page-text1 h2{
    font-size: 75px;
    text-align: center;
    margin-bottom: 50px;
}
.page-text1 p{
    font-size: 33px;
    text-align: center;
    padding: 0 250px;
    margin-bottom: 96px;
}
.page-8-all{
    display: flex;
    justify-content: space-between;
    
   
}
.page-8-all img{
    width: 30%;
    
}
.all-text{
    display: flex;
    justify-content: space-between;

}
.all-text .text{
    width: 30%;
    border: 2px solid #B5B6B1;
    border-top: none;
}
.all-text .text-2{
    border: none;
}
.text h4{
    font-size: 25px;
    padding-right: 80px;
    margin-top: 34px;
}
.text h5{
    font-size: 16px;
    color: #00bec9;
    margin-top: 20px;
}
.text p{
    font-size: 16px;
    padding-right: 100px;
    margin-top: 30px;
}
.text a{
    font-size: 21px;
    color: #00bec9;
    margin-top: 31px;
    display: flex;
}
/* .........................the end....................  */

.lestpara{
    width: 100%;
    background-color: #343434;
}
.lestpara .continer{
    width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    background-color: #343434;
    display: flex;
    justify-content: space-between;
    padding-top: 168px;
    padding-bottom: 120px;
}
.lestpara .continer .content h2{
    font-size: 38px;
    font-weight: 800;
    color: #fff;
}
.lestpara .continer .content h3{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    margin-top: 16px;
}
.lestpara .continer .content1{
    width: 25%;
}
.lestpara .continer .content2{
   width: 20%;
}
.lestpara .continer .content3{
   width: 45%;
   text-align: right;
}
.lestpara .continer .content3 .search2{
    width: 100%;
    height: 90px;
    background-color: #daac00;
    border: 3px solid #daac00;
    
}
.lestpara .continer .content3 h2{
    font-size: 38px;
    font-weight: 800;
    color: #fff;
}
.lestpara .continer .content3 p{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 54px;
}
.lestpara .continer .content3 .fa-brands{
   
   padding: 15px 15px;
   background-color: #fff;
    border-radius: 50%;
    margin-top: 45px;
   
 
}
.lestpara .continer .content3 .fontawesome-icone a{
    
    padding:0 10px;
    font-size: 20px;
    color: black;
    
   
}
.list-item{
    position: relative;
}
.list-item .rocat{
    width: 144px;
    height: 90px;
    background-color: #00bec9;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.font6{
    font-size: 40px;
    color: #fff;
}
