@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Poppins', sans-serif; */
*{margin: 0;
padding: 0;
box-sizing: border-box;
}
.header{
    width: 100%;
    height: 121px;
    background-color:#EAAE00 ;
}
.container{
    margin: 0 auto;
    padding: 0 25px;
    width: 1200px;
}
.header .container{ 
    height:100%;
    background-color: #EAAE00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}
ul li{
    list-style-type: none;
}

.mode{
    display: flex;
    align-items: center;
}
.mode li a{
    padding: 10px 20px;
    display: inline-block;
    font-size: 29px;
    font-weight: 500;
}
.mode li:nth-child(4){
    margin-right: 50px;

}
.input{
    width: 275px;
    height: 50px;
    background-color: #FFC400;
    border: none;
    padding: 0 14px;
}
.input::placeholder{
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}
.list-iteam{
    position: relative;
}
.inbox{
    width: 72px;
    height: 50px;
    background-color: #00BFCB;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    font-size: 24px;
    color: #ffffff;
}
.banner{

    background-color: #FFC400;
}
.banner .container{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding-top: 92px;
    padding-bottom: 122px;
    

}
.banner-container{
    padding-right: 30px;
}
.banner-container{
    width: 55%;
    
    

}
.banner-h1{
    font-size: 66px;
  line-height: 70px;
    color:#ffffff;
    margin-bottom: 56px;
}
.banner-para{
    font-size: 29px;
    color:#ffffff;
}
.banner-batton{
    margin-top: 46px;
    
}
.banner-batton a{
    font-size: 20px;
    padding: 24px 30px;
    border-radius: 8px;
    
}
.banner-batton a:first-child{
    background-color:#00BFCB;
    border: 3px solid #00BFCB;
    margin-right: 34px;
}
.banner-batton a:last-child{
    border: 3px solid #ffffff;

}
.banner-img{
    width: 45%;

}
.banner-img img{
    width: 100%;
}

