@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Poppins', sans-serif; */
*{margin: 0;
padding: 0;
box-sizing: border-box;
}
/* --------frist-ber------- */
.header{
    width: 100%;
    height: 121px;
    background-color:#EAAE00 ;
}
.container{
    margin: 0 auto;
    padding: 0 25px;
    width: 1200px;
}
.header .container{ 
    height:100%;
    background-color: #EAAE00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}
ul li{
    list-style-type: none;
}

.mode{
    display: flex;
    align-items: center;
}
.mode li a{
    padding: 10px 20px;
    display: inline-block;
    font-size: 29px;
    font-weight: 500;
}
.mode li:nth-child(4){
    margin-right: 50px;

}
.input{
    width: 275px;
    height: 50px;
    background-color: #FFC400;
    border: none;
    padding: 0 14px;
}
.input::placeholder{
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}
.list-iteam{
    position: relative;
}
.inbox{
    width: 72px;
    height: 50px;
    background-color: #00BFCB;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    font-size: 24px;
    color: #ffffff;
}
/* ---------frist-ber------- */
/* ----------banner-start--------- */
.banner{

    background-color: #FFC400;
}
.banner .container{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding-top: 92px;
    padding-bottom: 122px;
    

}
.banner-container{
    padding-right: 30px;
}
.banner-container{
    width: 55%;
}
.banner-h1{
    font-size: 66px;
  line-height: 70px;
    color:#ffffff;
    margin-bottom: 56px;
}
.banner-para{
    font-size: 29px;
    color:#ffffff;
}
.banner-batton{
    margin-top: 46px;
    
}
.banner-batton a{
    font-size: 20px;
    padding: 24px 30px;
    border-radius: 8px;
    
}
.banner-batton a:first-child{
    background-color:#00BFCB;
    border: 3px solid #00BFCB;
    margin-right: 34px;
}
.banner-batton a:last-child{
    border: 3px solid #ffffff;

}
.banner-img{
    width: 40%;

}
.banner-img img{
    width: 100%;
}
.love-of-animal .container{
    display: flex;
    padding: 140px 0;
    justify-content: space-between;
}
.love-of-animal .container .text-content{
    width: 50%;
    padding-right: 46px;
    padding-top: 80px;
}
.love-of-animal .container h2{
    font-size: 50px;
    line-height: 54px;
    margin-bottom: 56px;
    padding-right: 70px;
    color: #313243;
    font-family: ;
}
.love-of-animal .container p{
    font-size: 29px;
    margin-bottom: 48px;
    padding-right: 56px;
    color: #313243;
}
.love-of-animal .container a{
    font-size: 20px;
    border-radius: 8px;
    background-color: #FFC400;
    padding: 24px 30px;
}

.img-content{
    width: 50%;
}
.img-content img{
    width: 100%;
}
/* --------banner-end------ */
/* ----------service------- */

.aminal-care{
    background-color: #FFC400;

}
.aminal-care .container {
    padding-top: 70px;
    padding-bottom: 96px;
}
.aminal-care .container .service-text{
    text-align: center;
    padding: 0 262px;    
}
.aminal-care .container .service-text h3{
    font-size: 75px;
    margin-bottom: 52px;
    color: #ffffff;
}
.aminal-care .container .service-text p{
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 94px;
}
.aminal-care .container .service-photo{
    display: flex;
    justify-content: space-between;

}
.aminal-care .container .service-photo .service{
    width: 30%;
       
}
.aminal-care .container .service-photo h6{
    font-size: 38px;
    text-align: center;
    margin-top: 54px;
    margin-bottom: 28px;
    color: #ffffff;
}
.aminal-care .container .service-photo p{
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    font-family:sans-serif
}
/* -------service-end------- */
/* --------animal-care------ */
.animal-care-page4 .container{
    padding: 140px 0;
    display: flex;
    justify-content:space-between ;   
}
.page4-img-content{
    width: 50%;
    margin-right: 68px;
}
.page4-img-content img{
    width: 100%;
}

.page4-text-content{
    padding-top: 80px;
    width: 50%;
    direction: rtl;

}
.page4-text-content h2{
    font-size: 50px;
    line-height: 54px;
    font-family: sans-serif;
    margin-bottom: 52px;
    color: #313243;
        
}
.page4-text-content p{
    font-size: 29px;
    font-family: sans-serif;
    margin-bottom: 52px;
    color: #313243;
    padding-left: 56px;

    
}
.page4-text-content a{
    font-size: 20px;
    border-radius: 8px;
    background-color: #FFC400;
    padding: 24px 30px;
    
}